* SELECT------------------выбор столбцов в таблице(или вся таблица *)
* FROM--------------------какую таблицу брать
* WHERE-------------------условие к столбцам(пишется после from)
* HAVING------------------условие к столбцам агрегирующими функциями(пишется после group by)
* ORDER BY----------------сортировка по столбцу(ASC-прямой порядок DESC-обратный порядок)
* GROUP BY----------------Групировка по столбцу
* AS----------------------переименовать столбец при выводе
* BETWEEN-----------------фильтрует строки что находятся между двумя значениями (включая их)
* IN----------------------относит условие к каждому значению в скобке
* LIKE--------------------нахождение слова по символу 'A%' или '_'(_ занимает один символ) 
* LIMIT-------------------максимальное количество строк
* OFFSET------------------обрезает указанное количество первых строк
*
* DISTINCT----------------групировка значений в столбце
* COUNT-------------------подсчет количества строк
* SUM---------------------вычисляет сумму;
* AVG---------------------вычисляет среднее;
* MAX---------------------вычисляет максимум;
* MIN---------------------вычисляет минимум.
*
* join--------------------присоединение таблиц
* on----------------------аргумент по которому будут присоеденяться таблицы

* INNER JOIN — это тот же JOIN
* LEFT JOIN и RIGHT JOIN
* FULL OUTER JOIN объединяет в себе LEFT и RIGHT JOIN и позволяет сохранить кортежи обеих таблиц. Даже если не будет соответствий, мы сохраним все записи из обеих таблиц.
* CROSS JOIN соединяет таблицы так, что каждая запись в первой таблице присоединяется к каждой записи во второй таблице
* NATURAL JOIN -- позволяет не указывать условие соединения таблиц — для соединения будут использованы столбцы с одинаковым названием из этих таблиц.

Модель запроса

In [ ]:
SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

## select    - *(Если нужна вся база), или название столбцов
## from      - название файла

In [ ]:
select 
    movie_title, 
    year, rating
    
FROM sql.kinopoisk

## Переименование столбца при выводе AS

In [ ]:
SELECT
    director,
    movie_title,
    10 - rating AS difference
    
FROM sql.kinopoisk

## Выделение нескольких строк из базы WHERE(вместе со знаками неравенства/равенства)

Можно комбенировать условия с помощью AND и OR

In [ ]:
SELECT *

FROM sql.kinopoisk 

WHERE year >= 2000

AND rating >= 8

## Between(not between) фильтрует строки что ноходятся между двумя значениями

In [ ]:
SELECT *

FROM sql.kinopoisk

WHERE year BETWEEN 1975 AND 1985

## Оператор IN

In [ ]:
select 
    movie_title

FROM sql.kinopoisk

where year in (2000, 1985, 1939)

## LIKE нахождение значения по 1 или нескольким буквам

Оператор (%) означет что после А встречается 0 и более символов

In [ ]:
SELECT *

FROM sql.kinopoisk

WHERE movie_title LIKE 'А%'

## Пустые значения обозначаются как NULL

In [ ]:
IS NULL / IS NOT NULL

## ORDER BY Порядок вывода строк в запросе(ASC-прямой порядок DESC-обратный порядок)

In [ ]:
SELECT *

FROM sql.kinopoisk

ORDER BY rating ASC

Так же можно указать где будут идти пустые значения в конце или в начале NULL LAST/ NULL FIRST

In [ ]:
ORDER BY overview NULLS FIRST.

Можно использовать номера из вывода

In [ ]:
SELECT
    director,
    movie_title,
    year
    
FROM sql.kinopoisk

ORDER BY 1, 3 DESC

## LIMIT - Ограничение по выводу строк

In [ ]:
SELECT *

FROM sql.kinopoisk

LIMIT 10

## OFFSET - Обрезает указанное количество первых строк

Выведем название и рейтинг фильмов с четвёртого по восьмое место.

In [ ]:
SELECT
    movie_title,
    rating 
    
FROM sql.kinopoisk

ORDER BY rating DESC

OFFSET 3 LIMIT 5

## distinct

In [ ]:
SELECT distinct type1, type2 (так он будет группировать 2 столбца в целом а не по отдельности)
from sql.pokemon

In [ ]:
SELECT 
  type1 as primary_type,
  COUNT(DISTINCT type2) as additional_types_count,
  avg(hp) as avg_hp,
  sum(attack) as attack_sum
FROM sql.pokemon
group by primary_type
order by additional_types_count desc

## COUNT

In [ ]:
SELECT count(*) 
from sql.pokemon

## В целом агрегатные функции

In [ ]:
SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"

FROM sql.pokemon

WHERE type1 = 'Grass'

## GROUP BY

In [ ]:
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count

FROM sql.pokemon

GROUP BY type1

ORDER BY type1

## HAVING

In [ ]:
SELECT 
    type1 as primary_type ,
    type2 as additional_type
FROM sql.pokemon
group by type1, type2
having avg(attack) > 100 
and max(hp) < 80

In [ ]:
SELECT 
    type1 as primary_type ,
    count(type1) as pokemon_count
FROM sql.pokemon
where name like 'S%'
group by type1
having avg(defense) > 80 
order by pokemon_count desc
limit 3

## JOIN

In [ ]:
select 
    h.long_name "Домашняя команда",
    m.home_team_goals "голы домашней команды",
    m.away_team_goals "голы гостейвой команды",
    a.long_name "Гостевая команды"

from 
    sql.matches m
    join sql.teams h on m.home_team_api_id = h.api_id
    join sql.teams a on m.away_team_api_id = a.api_id

In [ ]:
select 
    m.id as "id матча",
    h.short_name as home_short,
    a.short_name as away_short

from 
    sql.matches m
    join sql.teams h on m.home_team_api_id = h.api_id
    join sql.teams a on m.away_team_api_id = a.api_id
order by m.id