In [1]:
import pandas as pd
import numpy as np

In [146]:
HeadHunter = pd.read_csv('data/dst-3.0_16_1_hh_database.csv' , sep= ';')

In [151]:
HeadHunter

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано
...,...,...,...,...,...,...,...,...,...,...,...,...
44739,"Мужчина , 30 лет , родился 17 января 1989",50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...","Тверь , готов к переезду (Москва, Химки) , гот...",полная занятость,"полный день, удаленная работа","Опыт работы 7 лет 7 месяцев Финансист, аналит...","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,Высшее образование 2015 Московский гуманитарн...,22.04.2019 12:32,Не указано
44740,"Мужчина , 27 лет , родился 5 марта 1992",39000 руб.,"Системный администратор, IT-специалист","Липецк , готов к переезду , готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день, ...","Опыт работы 7 лет Системный администратор, IT...",ИП Пестрецов,Предприниматель,Высшее образование (Бакалавр) 2016 Воронежски...,22.04.2019 13:11,Не указано
44741,"Женщина , 48 лет , родилась 26 декабря 1970",40000 руб.,"Аналитик данных, Математик","Челябинск , готова к переезду , готова к редки...",полная занятость,"полный день, удаленная работа",Опыт работы 21 год 5 месяцев Январь 1998 — по...,"ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,Высшее образование 2000 Южно-Уральский госуда...,09.04.2019 05:07,Не указано
44742,"Мужчина , 24 года , родился 6 октября 1994",20000 руб.,Контент-менеджер,"Тамбов , не готов к переезду , не готов к кома...","частичная занятость, полная занятость",удаленная работа,Опыт работы 3 года 10 месяцев Контент-менедже...,IQ-Maxima,Менеджер проектов,Высшее образование 2015 Тамбовский государств...,26.04.2019 14:25,Имеется собственный автомобиль
44743,"Мужчина , 38 лет , родился 25 апреля 1980",120000 руб.,Руководитель проекта,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 15 лет 10 месяцев Руководитель пр...,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,Высшее образование 1997 Южно-Российский госуд...,05.07.2018 20:15,Не указано

In [2]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

In [3]:
print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [10]:
for k in products:
    if k in stocks:
        print(products[k], stocks[k])126

199.99 33%
119.99 12%
399.99 18%

In [1]:
def apply_discounts(products, stocks):
    result = products
    for k in products:
        if k in stocks:
            result[k]= round(products[k] - ((products[k] / 100) * (float(stocks[k].replace('%', '')))),2)
    return result

In [30]:
for k in products:
    if k in stocks:
        print(round(products[k] - ((products[k] / 100) * (int(stocks[k].replace('%', '')))),2))

133.99
105.59
327.99

In [14]:
products

{'Oranges (packaged)': 114.99,
 'Candy (Rotfront)': 280.0,
 'Boiled sausage': 27.0,
 'Juice J7 (orange)': 63.32,
 'Trout (Seven Seas)': 148.29}

In [14]:
for k in products:
    if k in stocks:
        products[k]= round(products[k] - ((products[k] / 100) * (int(stocks[k].replace('%', '')))),2)
print(result)

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [11]:
products

{'Oranges (packaged)': 114.99,
 'Candy (Rotfront)': 280.0,
 'Boiled sausage': 199.99,
 'Juice J7 (orange)': 119.99,
 'Trout (Seven Seas)': 399.99}

In [4]:
import pandas as pd

In [ ]:
df_1 = pd.read_csv('bronze_top.csv')
df_2 = pd.read_csv('silver_top.csv')

In [ ]:
import pandas as pd 

bronze = pd.read_csv('bronze_top.csv')
silver = pd.read_csv('silver_top.csv')

merged = bronze.join(
    silver,
    on='Country',
    how='inner',
    lsuffix='_bronze',
    rsuffix='_silver' 
)

In [ ]:
import pandas as pd 

bronze = pd.read_csv('bronze_top.csv')
silver = pd.read_csv('silver_top.csv')

merged = bronze.join(
    silver.set_index('Country'),
    on = 'Country',
    how = 'inner',
    lsuffix='_bronze',
    rsuffix='_silver' 
)

In [1]:
import pandas as pd

In [14]:
solar_data = pd.read_csv('data/solarpower.csv')
solar = solar_data.copy()

In [15]:
solar

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [18]:
cols_null_persent = solar.isna().mean()*100
cols_with_null = cols_null_persent[cols_null_persent > 0].sort_values(ascending=False)
cols_with_null

Series([], dtype: float64)

In [5]:
def reset(funk):
    for i in range(len(solar['cum_power'])):
        if solar['cum_power'][i] == '-1':
            solar['cum_power'][i] = (solar['cum_power'][i-1] + solar['cum_power'][i+1])/2

In [17]:
#создаем копию исходной таблицы
#создаем словарь имя столбца: число(признак) на который надо заменить пропуски
values = {
    'cum_power': solar['cum_power'].median()  
}
#заполняем пропуски в соответствии с заявленным словарем
solar = solar.fillna(values)
#выводим результирующую долю пропусков

In [16]:
solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    object
 1   cum_power  664 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.5+ KB

In [20]:
round(solar['cum_power'].mean())

23776

In [25]:
solar

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [27]:
solar['date'] = pd.to_datetime(solar['date'], dayfirst=True)

In [29]:
solar['day_power'] = solar['date'].dt.to_period('M')

In [39]:
solar

          date  cum_power  day_power
0   2017-01-01    20111.0        NaN
1   2017-01-02    20112.0        1.0
2   2017-01-03    20115.0        3.0
3   2017-01-04    20117.0        2.0
4   2017-01-05    20119.0        2.0
..         ...        ...        ...
659 2018-10-22    28101.0        6.0
660 2018-10-23    28109.0        8.0
661 2018-10-24    28115.0        6.0
662 2018-10-25    28117.0        2.0
663 2018-10-26    28120.0        3.0

[664 rows x 3 columns]

In [31]:
solar['day_power'] = solar['cum_power'].diff()

In [42]:
solar.groupby('date')['day_power'].mean()

date
2017-01-01    NaN
2017-01-02    1.0
2017-01-03    3.0
2017-01-04    2.0
2017-01-05    2.0
             ...
2018-10-22    6.0
2018-10-23    8.0
2018-10-24    6.0
2018-10-25    2.0
2018-10-26    3.0
Name: day_power, Length: 664, dtype: float64

In [43]:
solar['day_power'].mean()

12.079939668174962