In [1]:
import pandas as pd 
covid = pd.read_csv('data/covid_data.csv', sep= ',')
country_vactinations = pd.read_csv('data/country_vaccinations.csv', sep= ',')

In [12]:
cov = covid.copy()

In [3]:
country_vactinations = country_vactinations[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]

In [4]:
vact = country_vactinations.copy()

In [20]:
cov

            date             country  confirmed  deaths  recovered   active
0     2021-01-01         Afghanistan    51526.0  2191.0    41727.0   7608.0
1     2021-01-01             Albania    58316.0  1181.0    33634.0  23501.0
2     2021-01-01             Algeria    99897.0  2762.0    67395.0  29740.0
3     2021-01-01             Andorra     8117.0    84.0     7463.0    570.0
4     2021-01-01              Angola    17568.0   405.0    11146.0   6017.0
...          ...                 ...        ...     ...        ...      ...
86780 2020-12-31             Vietnam     1465.0    35.0     1325.0    105.0
86781 2020-12-31  West Bank and Gaza   138004.0  1400.0   117183.0  19421.0
86782 2020-12-31               Yemen     2099.0   610.0     1394.0     95.0
86783 2020-12-31              Zambia    20725.0   388.0    18660.0   1677.0
86784 2020-12-31            Zimbabwe    13867.0   363.0    11250.0   2254.0

[86785 rows x 6 columns]

In [14]:
cov =cov.groupby(['date' , 'country'] , as_index= False)[['confirmed', 'deaths', 'recovered']].sum()

In [16]:
cov['date'] = pd.to_datetime(cov['date'])

In [19]:
cov['active'] = cov['confirmed'] - cov['deaths'] - cov['recovered']

In [22]:
cov = cov.sort_values(by=['date', 'country'])
cov['daily_comfirmed'] = cov.groupby('country')['confirmed'].diff()
cov['daily_deaths'] = cov.groupby('country')['deaths'].diff()
cov['daily_recovered'] = cov.groupby('country')['recovered'].diff()

In [23]:
cov

,date,country,confirmed,deaths,recovered,active,daily_comfirmed,daily_deaths,daily_recovered
4054,2020-01-22,China,547.0,17.0,28.0,502.0,NaN,NaN,NaN
4055,2020-01-22,Hong Kong,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4056,2020-01-22,Japan,2.0,0.0,0.0,2.0,NaN,NaN,NaN
4057,2020-01-22,Kiribati,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4058,2020-01-22,Macau,1.0,0.0,0.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
45542,2021-05-29,Vietnam,6908.0,47.0,2896.0,3965.0,512.0,0.0,0.0
45543,2021-05-29,West Bank and Gaza,307838.0,3492.0,300524.0,3822.0,269.0,3.0,399.0
45544,2021-05-29,Yemen,6731.0,1319.0,3399.0,2013.0,8.0,3.0,24.0
45545,2021-05-29,Zambia,94751.0,1276.0,91594.0,1881.0,321.0,1.0,151.0
45546,2021-05-29,Zimbabwe,38933.0,1594.0,36578.0,761.0,15.0,2.0,15.0

In [24]:
vact['date'] = pd.to_datetime(vact['date'])

In [28]:
vact

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.00,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
...,...,...,...,...,...,...,...,...,...
42790,Zimbabwe,2021-09-01,4270430.0,2615233.0,17.33,1655197.0,10.97,36416.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42791,Zimbabwe,2021-09-02,4323735.0,2649505.0,17.56,1674230.0,11.09,39711.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42792,Zimbabwe,2021-09-03,4372216.0,2681657.0,17.77,1690559.0,11.20,42317.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42793,Zimbabwe,2021-09-04,4400246.0,2698332.0,17.88,1701914.0,11.28,41413.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
42794,Zimbabwe,2021-09-05,4431599.0,2713248.0,17.98,1718351.0,11.39,41964.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."

In [48]:
cov

,date,country,confirmed,deaths,recovered,active,daily_comfirmed,daily_deaths,daily_recovered
4054,2020-01-22,China,547.0,17.0,28.0,502.0,NaN,NaN,NaN
4055,2020-01-22,Hong Kong,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4056,2020-01-22,Japan,2.0,0.0,0.0,2.0,NaN,NaN,NaN
4057,2020-01-22,Kiribati,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4058,2020-01-22,Macau,1.0,0.0,0.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
45542,2021-05-29,Vietnam,6908.0,47.0,2896.0,3965.0,512.0,0.0,0.0
45543,2021-05-29,West Bank and Gaza,307838.0,3492.0,300524.0,3822.0,269.0,3.0,399.0
45544,2021-05-29,Yemen,6731.0,1319.0,3399.0,2013.0,8.0,3.0,24.0
45545,2021-05-29,Zambia,94751.0,1276.0,91594.0,1881.0,321.0,1.0,151.0
45546,2021-05-29,Zimbabwe,38933.0,1594.0,36578.0,761.0,15.0,2.0,15.0

In [60]:
covid_df = vact.merge(
    cov,
    on=['date','country'],
    how='right'
)

In [54]:
display(f"Ð”Ð°Ð½Ð½Ñ‹Ðµ Ð¾Ñ‚ {vact['date'].min()} Ð´Ð¾ {vact['date'].max()}")

'Ð”Ð°Ð½Ð½Ñ‹Ðµ Ð¾Ñ‚ 2020-12-02 00:00:00 Ð´Ð¾ 2021-09-06 00:00:00'

Timedelta('493 days 00:00:00')

In [62]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86785 entries, 0 to 86784
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86785 non-null  object
 1   date                                 86785 non-null  datetime64[ns]
 2   total_vaccinations                   10629 non-null  float64
 3   people_vaccinated                    10007 non-null  float64
 4   people_vaccinated_per_hundred        10007 non-null  float64
 5   people_fully_vaccinated              7695 non-null   float64
 6   people_fully_vaccinated_per_hundred  7695 non-null   float64
 7   daily_vaccinations                   18264 non-null  float64
 8   vaccines                             18451 non-null  object
 9   confirmed                            86785 non-null  float64
 10  deaths                               86785 non-null  float64
 11  recovered                            86785 non-null  float64
 12  active                               86785 non-null  float64
 13  daily_comfirmed                      86564 non-null  float64
 14  daily_deaths                         86564 non-null  float64
 15  daily_recovered                      86564 non-null  float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 11.3+ MB

In [63]:
covid_df['death_rate'] = covid_df['deaths'] / covid_df['confirmed'] * 100

In [64]:
covid_df['recover_rate'] = covid_df['recovered'] / covid_df['confirmed'] * 100

In [83]:
round(covid_df[covid_df['country'] == 'Russia']['recover_rate'].mean(),2)

67.06

In [84]:
covid_df

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines,confirmed,deaths,recovered,active,daily_comfirmed,daily_deaths,daily_recovered,death_rate,recover_rate
0,China,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,547.0,17.0,28.0,502.0,NaN,NaN,NaN,3.107861,5.118830
1,Hong Kong,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,Japan,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,2.0,NaN,NaN,NaN,0.000000,0.000000
3,Kiribati,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Macau,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,NaN,NaN,NaN,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86780,Vietnam,2021-05-29,NaN,NaN,NaN,NaN,NaN,6792.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, ...",6908.0,47.0,2896.0,3965.0,512.0,0.0,0.0,0.680371,41.922409
86781,West Bank and Gaza,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307838.0,3492.0,300524.0,3822.0,269.0,3.0,399.0,1.134363,97.624075
86782,Yemen,2021-05-29,104070.0,104070.0,0.34,NaN,NaN,4276.0,Oxford/AstraZeneca,6731.0,1319.0,3399.0,2013.0,8.0,3.0,24.0,19.595900,50.497697
86783,Zambia,2021-05-29,147033.0,141747.0,0.75,5286.0,0.03,1743.0,"Oxford/AstraZeneca, Sinopharm/Beijing",94751.0,1276.0,91594.0,1881.0,321.0,1.0,151.0,1.346688,96.668109
86784,Zimbabwe,2021-05-29,1002443.0,666784.0,4.42,335659.0,2.22,13559.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",38933.0,1594.0,36578.0,761.0,15.0,2.0,15.0,4.094213,93.951147